<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="health.css">
<head>
	<title>Health</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>
<body>


<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">Jason Doe</h4>
      </div>
    </div>
  </div>
  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Your Health Report</p>
  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light">
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i> 
        	Home
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light">
        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
            Health History
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light">
        <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                All Notifications
      </a>  
    </li>
</div>

<div class="current-info">
<button type="button" class="collapsible">
				<p class="text-height-small">Current Status:</p>
				<h4 class="text-height-md"> 
					<span class="icon-ok glyphicon glyphicon-ok"> Ok: </span>
					 Your Health Status Is Currently Normal
				</h4>
			</button>
</div>

<div class="notifications"> 
	<div class="column-notif">
		<div class="notif-cell">
		<button type="button" class="collapsible">
					<p class="text-height-small">12:15am</p>
					<p class="text-height-small">Thursday 10/15/20</p>
					<h4 class="text-height-md"> 
						<span class="icon-alert glyphicon glyphicon-exclamation-sign"> Warning: </span>
						 Elevated Heart Rate for Extended Duration
					</h4>
				</button>
			<div class="content">
				<h4>The Issue: </h4>
			  <p>Your heartrate has exeeded normal levels to an extended period of time. 
			  This can be harmful to your health</p>
			  <h4>What to do</h4> 
			  <p>Your elevated heartrate may be caused by increased stress or even a heart attack.
			  If this issue continues without any reaction from you <strong> we may call emergency services on your behalf</strong></p>
			  <h4>Emergency Contacts: </h4>
			  <table> 
			  	<tr>
			  		<td>
			  			Emergency: 911
			  		</td>
			  	</tr>
			  	<tr>
			  		<td>
			  			Doctor: (816) 276-6405  
			  		</td>
			  	</tr>
			  		<td>
			  			poison control: (800) 222-1222
			  		</td>
			  	</tr>
			   </table>
			</div>
		</div>
		<div class="notif-cell">
		<button type="button" class="collapsible">
					<p class="text-height-small">12:15am</p>
					<p class="text-height-small">Thursday 10/15/20</p>
					<h4 class="text-height-md"> 
						<span class="icon-warning glyphicon glyphicon-exclamation-sign"> Caution: </span>
						 Your heart rate is slower than normal
					</h4>
				</button>
			<div class="content">
				<h4>The Issue: </h4>
			  <p> Your Slow heartrate may be cause for concern</p>
			  <h4>What to do</h4> 
			  <p>Your slow heartrate could be benign but it could also be a symptom of Bradycardia. Contact your phasician to find out more </p>
			  <h4>Emergency Contacts: </h4>
			  <table> 
			  	<tr>
			  		<td>
			  			Emergency: 911
			  		</td>
			  	</tr>
			  	<tr>
			  		<td>
			  			Doctor: (816) 276-6405  
			  		</td>
			  	</tr>
			  		<td>
			  			poison control: (800) 222-1222
			  		</td>
			  	</tr>
			   </table>
			</div>
		</div>
	</div>

<div class="column-notif-right">
	<div class="notif-cell">
	<button type="button" class="collapsible">
				<p class="text-height-small">12:15am</p>
				<p class="text-height-small">Thursday 10/15/20</p>
				<h4 class="text-height-md"> 
					<span class="icon-alert glyphicon glyphicon-exclamation-sign"> Warning: </span>
					 Elevated Heart Rate for Extended Duration
				</h4>
			</button>
		<div class="content">
			<h4>The Issue: </h4>
		  <p>Your heartrate has exeeded normal levels to an extended period of time. 
		  This can be harmful to your health</p>
		  <h4>What to do</h4> 
		  <p>Your elevated heartrate may be caused by increased stress or even a heart attack.
		  If this issue continues without any reaction from you <strong> we may call emergency services on your behalf</strong></p>
		  <h4>Emergency Contacts: </h4>
		  <table> 
		  	<tr>
		  		<td>
		  			Emergency: 911
		  		</td>
		  	</tr>
		  	<tr>
		  		<td>
		  			Doctor: (816) 276-6405  
		  		</td>
		  	</tr>
		  		<td>
		  			poison control: (800) 222-1222
		  		</td>
		  	</tr>
		   </table>
		</div>
	</div>
	<div class="notif-cell">
	<button type="button" class="collapsible">
				<p class="text-height-small">12:15am</p>
				<p class="text-height-small">Thursday 10/15/20</p>
				<h4 class="text-height-md"> 
					<span class="icon-alert glyphicon glyphicon-exclamation-sign"> Warning: </span>
					 Elevated Heart Rate for Extended Duration
				</h4>
	</button>
		<div class="content">
			<h4>The Issue: </h4>
		  <p>Your heartrate has exeeded normal levels to an extended period of time. 
		  This can be harmful to your health</p>
		  <h4>What to do</h4> 
		  <p>Your elevated heartrate may be caused by increased stress or even a heart attack.
		  If this issue continues without any reaction from you <strong> we may call emergency services on your behalf</strong></p>
		  <h4>Emergency Contacts: </h4>
		  <table> 
		  	<tr>
		  		<td>
		  			Emergency: 911
		  		</td>
		  	</tr>
		  	<tr>
		  		<td>
		  			Doctor: (816) 276-6405  
		  		</td>
		  	</tr>
		  		<td>
		  			poison control: (800) 222-1222
		  		</td>
		  	</tr>
		   </table>
		</div>
</div>
		
<script src="health.js"></script>
</body>
</html>